@media(max-width: 420px) {
    .row {
        .col-4 {
            flex: 0 0 auto;

            width: 100%;

        }

    }


}

.container-fluid{
    display: flex;
    justify-content: center;
    max-width: 1500px;
    
}

h3{
    display: flex;
    padding-top: 100px;
    justify-content: center;
    width: 100%;
  
}